.contact-inner {
  position: relative;
  display: block;
  flex-direction: column;
  padding: 0 20px;
  min-height: 100%;

  @media screen and (min-width: 984px) {
    padding: 0;
    margin: 0 auto;
  }
}

.contact-request {
  &--block {
    position: relative;
    display: block;
    padding-top: 20px;
    text-align: center;
  }

  &--link {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid black;
    display: unset;

    @media screen and (min-width: 984px) {
      font-size: 40px;
      line-height: 40px;
    }

    &:active,
    &:focus,
    &:visited {
      text-decoration-line: underline;
      color: #000000;
    }
  }
}

.contact-logo {
  &--wrap {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 0px;
  }

  &--preline {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: capitalize;

    @media screen and (min-width: 984px) {
      font-size: 40px;
      line-height: 60px;
    }
  }

  &--link {
    position: relative;
    display: block;
  }

  &--img {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;

    @media screen and (min-width: 984px) {
      width: 360px;
    }
  }
}

.contact-footer {
  &--wrap {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 69px;
    width: calc(100% - 40px);
    padding-top: 0;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 984px) {
      width: 100%;
    }
  }

  &--link {
    position: relative;
    display: block;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
    padding-right: 20px;
    cursor: pointer;

    &:nth-of-type(2) {
      padding-right: 0;
    }

    @media screen and (min-width: 984px) {
      font-size: 16px;
      line-height: 24px;
      padding-right: 35px;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

.modal-base {
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translate(-50%,-50%) scale(0.8);
  outline: none;

  @media screen and (min-width: 984px) {
    width: calc(100% - 400px);
    height: calc(100% - 258px);
  }
}

.modal-base_after-open {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

.modal-base_before-close {
  transform: translate(-50%,-50%) scale(.2);
  opacity: 0;
}

.overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 0;
	transition: all 0.3s ease-out;
}

.overlay-base_after-open {
  opacity: 1;
}

.overlay-base_before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 60vw;
  height: 80vh;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
  border: none !important;
  border-radius: 0 !important;
}

.legal-info {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000000;

  @media screen and (min-width: 984px) {
    font-size: 20px;
    line-height: 28px;
  }

  &--wrap {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
  }

  &--container {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    padding-right: 60px;
    width: calc(100% + 20px);

    @media screen and (min-width: 984px) {
      padding: 30px;
      padding-right: 50px;
      width: calc(100% + 20px);
    }
  }

  &--close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 33px;
    height: 40px;
    cursor: pointer;

    @media screen and (min-width: 984px) {
      top: 10px;
      right: 10px;
      width: 40px;
    }

    svg {
      position: relative;
      display: block;
      width: 60%;
      margin: 0 auto;

      @media screen and (min-width: 984px) {
        width: 70%;
      }
    }
  }
}
